<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/task.css') }}">
</head>
<body>
  <div class="content">
    <div class="container">
      <h1 class="task__label">Вставьте пропуски</h1>
      <div class="task__text">Lorem ipsum dolor <input class="qWKksmS task__input"> amet, consectetur adipisicing <input class="lWKqsa task__input">, sed do eiusmod tempor incididunt ut <input class="smcSLA task__input"> et dolore magna aliqua. Ut enim ad minim <input class="sllwOa task__input">, quis nostrud exercitation ullamco laboris <input class="WklakS task__input"> ut aliquip ex ea commodo consequat. Duis aute irure <input class="SoowiS task__input"> in reprehenderit in <input class="qWKksmS task__input"> velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </div>
  </div>
  <footer>
    <div class="footer__left"></div>
    <div class="footer__container">
      <button class="back inactive">
        <span class="material-icons-round">arrow_back</span>
      </button>
      <div class="info">1 из 3</div>
      <button class="forward">
        <span class="material-icons-round">arrow_forward</span>
      </button>
    </div>
    <div class="footer__right">
      <span class="material-icons-round icon">
        timer
      </span>
      <span class="timer__time">
        00:30
      </span>
    </div>
  </footer>
</body>
</html>
